body{
    background-image:url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: larger;
}

.box{
    height:100px;
    width: 100px;
    border-width: 5px;
    border-radius: 5px;
    border-color: black;
    background-color: black;
    opacity: 0.6;
    margin:50px;
}
#box{
    height:100px;
    width: 100px;
    border-width: 5px;
    border-radius: 5px;
    border-color: black;
    background-color: black;
    opacity: 0.6;
    transform: 0.05s;
}
.container{
    margin-top: 250px;
    margin-left: 300px;
}
.content{
    font-size: x-large;
    color: rgb(241, 236, 236);
    margin-left: 15px;
    opacity: 1; 
}
.box:hover{
    opacity: 0.9;
}
.playing{
    transform: scale(1.5);
    border-color: cornsilk;
}