body{
   background-color: blueviolet;    
   text-align: center;
}
video{
    width:400px;
    position: relative;

}
.video-player{
    align-items: center;
    width: 500px;
    position:absolute;
}
.progress__filled{
  height: 20px; 
    background: #555;
    flex-basis: auto;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
span{
    font-weight: bold;
    padding:5px;
}
.progress{
    display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
  inset 0 2px 9px  rgba(255,255,255,0.3),
  inset 0 -2px 6px rgba(0,0,0,0.4);
}

